/auto/
/notas.tex
/figures/ avl figures/auto/
*.aux
*.log
*.gz
/figures/ avl figures/avl figures.tex~
/figures/rb figures/auto/
/figures/rb figures/rb figures.tex~
/#%20%2Aorg-src-fontification%3Ac++-mode%2A#Vx9WcR#
/#%20%2Aorg-src-fontification%3Amakefile-mode%2A#PBXiGs#
/#%20%2Aorg-src-fontification%3Amakefile-mode%2A#S5Jzhw#
/notas.tex~
/#%20%2Aorg-src-fontification%3Ac++-mode%2A#oCTShZ#
/#%20%2Aorg-src-fontification%3Ac++-mode%2A#yVHmKR#
/#%20%2Aorg-src-fontification%3Amakefile-mode%2A#YpGlye#
/#%20%2Aorg-src-fontification%3Amakefile-mode%2A#9qow1J#
/#%20%2Aorg-src-fontification%3Ac++-mode%2A#5X4upH#
/#%20%2Aorg-src-fontification%3Ac-mode%2A#ofrA1B#
/#%20%2Aorg-src-fontification%3Ac++-mode%2A#OpEEWA#
/#%20%2Aorg-src-fontification%3Ac++-mode%2A#I8l9e2#
/#%20%2Aorg-src-fontification%3Ac-mode%2A#sDWYYD#
/#%20%2Aorg-src-fontification%3Amakefile-mode%2A#byS4HP#
